<div class="jumbotron">
    <h1>Game of drones</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>New Game</h2>        
    </div>
    <div class="col-md-4">
        <a href="~/Game/Start/Index.html"><h2>Go!</h2></a>
    </div>
    <div class="col-md-4">
        <a href="~/Game/Stats/Index.html"><h2>Statistics</h2></a>
    </div>
</div>
